<link href="__STATIC__/index/layui/css/layui.css" rel="stylesheet">
<a class="btn" href="{:url('user/index')}" style="margin-top: 8px;margin-left: 8px;"><i class="fa fa-history"></i> 返 回</a>
    <table  class="table table-bordered" style="margin-top: 55px;">
      <thead>
      <tr>
          <th></th>
          <th>买入</th>
          <th>卖出</th>
      </tr>
      </thead>
        <tbody>
                <tr>
                  <td></td>
                  <td>当前市场比例：1 : {$list2.ep_pro}
                      当前账户持有Ep：{$list1.bonus}  个
                  </td>
                  <td>当前市场比例：1 : {$list2.ep_pro}
                      当前账户持有Ep： {$list1.bonus} 个
                  </td>
                </tr>
                <tr>
                  <td>操作</td>
                  <form action="" method="post" name="form1">
                  <td><input type="number" name="amount" value="" placeholder="输入挂买数量" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                      <button onclick="buy()">挂买</button>
                      <button onclick="withBuyS()">挂买列表</button>
                      <button onclick="buy_list()">交易列表</button>
                  </td>
                  </form>

                  <form action="" method="post" name="form2">
                  <td>
                      <button onclick="sell()">挂卖</button>
                      <button onclick="withSellS()">撤销挂卖</button>
                      <button onclick="sell_list()">交易列表</button>
                  </td>
                  </form>
                </tr>
       
        </tbody>
    </table>
    <table class="table table-bordered" style="width: 48%;float: left">
        <thead>
        <tr>
            <td>用户</td>
            <td>挂卖</td>
            <td>剩余成交</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        </thead>
        {notempty name='list3'}
        <tbody>
        {volist name='list3' id='vo3'}

        <tr>
            <form action="{:url('buy_ali')}"   method="post" >
            <input name="id" id="id" hidden value="{$vo3.id}">
            <td>
                {php}
                $mem = db('member') -> getById( $vo3 -> member_id ) ;
                {/php}
                {$mem['username']}
            </td>
            <td>{$vo3.num_a}</td>
            <td>{$vo3.num}</td>
            <td>{if $vo3.status == 1}挂卖中
                {elseif $vo3.status ==2/}订单完成
                {elseif $vo3.status ==3/}订单关闭
                {/if}
            </td>
            <td>
                <input type="number" name="buy_alist" class="buy_alis" value="" onchange="buy_ali()">
                <button type="submit">部分交易</button>
<!--                <button lay-submit lay-filter="buy_ali">部分交易</button>-->
                <input hidden name="buy_all" id="buy_all" value="{$vo3.num}">
                <input hidden name="ep_pro" id="ep_pro" value="{$list2.ep_pro}">
            </form>
                <a href="{:url('ep/buy_all',['id'=>$vo3.id,'buy_all'=>$vo3.num,'ep_pro'=>$list2.ep_pro])}"><button>全部交易</button></a>
<!--                <button lay-submit lay-filter="buy_all">全部交易</button>-->
            </td>
        </tr>

        {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
        {/notempty}
    </table>
    <table class="table table-bordered" style="width: 48%;float: right">
        <thead>
        <tr>
            <td>用户</td>
            <td>挂买</td>
            <td>剩余成交</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        </thead>
        {notempty name='list4'}
        <tbody>
        {volist name='list4' id='vo4'}

            <tr>
                <form action="{:url('Ep/sell_ali')}" method="post" name="form4">
                <input name="id" hidden value="{$vo4.id}">
                <td>{php}
                    $mem = db('member') -> getById( $vo4 -> member_id ) ;
                    {/php}
                    {$mem['username']}
                </td>
                <td>{$vo4.num_a}</td>
                <td>{$vo4.num}</td>
                <td>{if $vo4.status == 1}挂买中
                    {elseif $vo4.status ==2/}订单完成
                    {elseif $vo4.status ==3/}订单关闭
                    {/if}
                </td>
                <td>
                    <input type="number" name="sell_alist" value="" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                    <button type="submit">部分交易</button>
                    <input hidden name="sell_all" value="{$vo4.num}">
                    <input hidden name="ep_pro" value="{$list2.ep_pro}">
                </form>
<!--                    <button onclick="sell_all_1()">全部交易</button>-->
                    <a href="{:url('ep/sell_all',['id'=>$vo4.id,'sell_all'=>$vo4.num,'ep_pro'=>$list2.ep_pro])}"><button>全部交易</button></a>
                </td>
            </tr>

        {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
        {/notempty}
    </table>
 <script src="/static/index/sentsin-layui-master/layui/dist/layui.js"></script>
    <script>
        //挂买
        function buy(){
            document.form1.action="{:url('Ep/sys_buyEp')}";
            document.form1.submit();
        }
        //自己的购买列表
        function buy_list() {
            document.form1.action = "{:url('Ep/buy_list')}";
            document.form1.submit();
        }
        //撤销挂买
        function withBuyS() {
            document.form1.action = "{:url('Ep/withBuy_list')}";
            document.form1.submit();
        }
        //挂卖
        function sell() {
            document.form2.action = "{:url('Ep/sys_sellEp')}";
            document.form2.submit();
        }
        //撤销挂卖
        function withSellS() {
            document.form2.action = "{:url('Ep/withSellEp')}";
            document.form2.submit();
        }
        //自己的出售列表
        function sell_list() {
            document.form2.action = "{:url('Ep/sell_list')}";
            document.form2.submit();
        }
        // //有人挂卖时，部分交易
        // function buy_ali() {
        //     document.form3.action = "{:url('Ep/buy_ali')}";
        //     document.form3.submit();
        // }
        // //有人挂卖时，全部交易
        // function buy_all_1() {
        //     document.form3.action = "{:url('Ep/buy_all')}";
        //     document.form3.submit();
        // }
        layui.use(['form','layer','jquery'], function(){
            var form = layui.form;
            var $ = layui.jquery;
            var layer = layui.layer;
            form.on('submit(buy_ali)', function(data){
                    alert($('.buy_alis').val())
                    //发起ajax请求
                    $.ajax({
                        url:"{:url('buy_ali')}",//注意：这里实际情况应该是根据点击的不同a标签加载不同页面
                        data:{
                            id:$('#id').val(),
                            buy_alist:$('.buy_alis').val(),
                            buy_all:$('#buy_all').val(),
                            ep_pro:$('#ep_pro').val(),
                        },
                        dataType:'json',
                        type:'post',
                        success: function(data){
                            //将请求回来的内容添加到下面的内容div
                            if(data==1){
                                layer.msg('订单匹配成功')
                                window.location.href = 'buy_list.html';
                            }else if(data == 3){
                                layer.msg('不能与自己交易')

                            }else if(data == 2){
                                layer.msg('当前还有未付款订单')
                            }else if(data == 4){
                                layer.msg('请输入有效数字')

                            }else if(data == 5){
                                layer.msg('请输入不大于剩余挂卖的值')
                            }
                        }
                    });
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
            form.on('submit(buy_all)', function(data){
                //发起ajax请求
                $.ajax({
                    url:"{:url('buy_all')}",//注意：这里实际情况应该是根据点击的不同a标签加载不同页面
                    data:{
                        id:$('#id').val(),
                        buy_alist:$('#buy_alis').val(),
                        buy_all:$('#buy_all').val(),
                        ep_pro:$('#ep_pro').val(),
                    },
                    dataType:'json',
                    type:'post',
                    success: function(data){

                        //将请求回来的内容添加到下面的内容div
                        if(data==1){
                            layer.msg('订单匹配成功')
                            window.location.href = 'buy_list.html';
                        }else if(data == 3){
                            layer.msg('不能与自己交易')

                        }else if(data == 2){
                            layer.msg('当前还有未付款订单')
                        }
                    }
                });

            });
        });
        //有人挂买时，部分交易
        function sell_ali() {
            document.form4.action = "{:url('Ep/sell_ali')}";
            document.form4.submit();
        }
        //有人挂买时，全部交易
        function sell_all_1() {
            document.form4.action = "{:url('Ep/sell_all')}";
            document.form4.submit();
        }

        $(function () {
            //禁用“确认重新提交表单”
            window.history.replaceState(null, null, window.location.href);
        })
    </script>
