
    <table  class="table table-bordered">
      <thead>
      <tr>
          <th>当前cfi价格:</th>
          <th>买入</th>
          <th>卖出</th>
      </tr>
      </thead>
        <tbody>
                <tr>
                  <td></td>
                  <td>当前市场比例：1 : {$list2.ep_pro}
                      当前账户持有Ep：{$list1.bonus}  个
                  </td>
                  <td>当前市场比例：1 : {$list2.ep_pro}
                      当前账户持有Ep： {$list1.bonus} 个
                  </td>
                </tr>
                <tr>
                  <td>操作</td>
                  <form action="" method="post" name="form1">
                  <td><input type="number" name="amount" value="" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                      <button onclick="buy()">挂买</button>
                      <button onclick="withBuyS()">挂买列表</button>
                      <button onclick="buy_list()">交易列表</button>
                  </td>
                  </form>

                  <form action="" method="post" name="form2">
                  <td>
                      <button onclick="sell()">挂卖</button>
                      <button onclick="withSellS()">撤销挂卖</button>
                      <button onclick="sell_list()">交易列表</button>
                  </td>
                  </form>
                </tr>
       
        </tbody>
    </table>
    <table class="table table-bordered" style="width: 48%;float: left">
        <thead>
        <tr>
            <td>挂卖</td>
            <td>剩余成交</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        </thead>
        {notempty name='list3'}
        <tbody>
        {volist name='list3' id='vo3'}
        <form action="" method="post" name="form3">
        <tr>
            <input name="id" hidden value="{$vo3.id}">
            <td>{$vo3.num_a}</td>
            <td>{$vo3.num}</td>
            <td>{if $vo3.status == 1}挂卖中
                {elseif $vo3.status ==2/}订单完成
                {elseif $vo3.status ==3/}订单关闭
                {/if}
            </td>
            <td>
                <input type="number" name="buy_alist" value="" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                <button onclick="buy_ali()">部分交易</button>
                <input hidden name="buy_all" value="{$vo3.num}">
                <input hidden name="ep_pro" value="{$list2.ep_pro}">
                <button onclick="buy_all_1()">全部交易</button>
            </td>
        </tr>
        </form>
        {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
        {/notempty}
    </table>
    <table class="table table-bordered" style="width: 48%;float: right">
        <thead>
        <tr>
            <td>挂买</td>
            <td>剩余成交</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        </thead>
        {notempty name='list4'}
        <tbody>
        {volist name='list4' id='vo4'}
        <form action="" method="post" name="form4">
            <tr>
                <input name="id" hidden value="{$vo4.id}">
                <td>{$vo4.num_a}</td>
                <td>{$vo4.num}</td>
                <td>{if $vo4.status == 1}挂买中
                    {elseif $vo4.status ==2/}订单完成
                    {elseif $vo4.status ==3/}订单关闭
                    {/if}
                </td>
                <td>
                    <input type="number" name="sell_alist" value="" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                    <button onclick="sell_ali()">部分交易</button>
                    <input hidden name="sell_all" value="{$vo4.num}">
                    <input hidden name="ep_pro" value="{$list2.ep_pro}">
                    <button onclick="sell_all_1()">全部交易</button>
                </td>
            </tr>
        </form>
        {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
        {/notempty}
    </table>
    <a class="btn" href="{:url('user/index')}"><i class="fa fa-history"></i> 返 回</a>
    <script>
        function buy(){
            document.form1.action="{:url('Ep/sys_buyEp')}";
            document.form1.submit();
        }
        function buy_list() {
            document.form1.action = "{:url('Ep/buy_list')}";
            document.form1.submit();
        }
        function withBuyS() {
            document.form1.action = "{:url('Ep/withBuy_list')}";
            document.form1.submit();
        }
        function sell() {
            document.form2.action = "{:url('Ep/sys_sellEp')}";
            document.form2.submit();
        }
        function withSellS() {
            document.form2.action = "{:url('Ep/withSellEp')}";
            document.form2.submit();
        }
        function sell_list() {
            document.form2.action = "{:url('Ep/sell_list')}";
            document.form2.submit();
        }
        function buy_ali() {
            document.form3.action = "{:url('Ep/buy_ali')}";
            document.form3.submit();
        }
        function buy_all_1() {
            document.form3.action = "{:url('Ep/buy_all')}";
            document.form3.submit();
        }
        function sell_ali() {
            document.form4.action = "{:url('Ep/sell_ali')}";
            document.form4.submit();
        }
        function sell_all_1() {
            document.form4.action = "{:url('Ep/sell_all')}";
            document.form4.submit();
        }


        $(function () {
            //禁用“确认重新提交表单”
            window.history.replaceState(null, null, window.location.href);
        })
    </script>
 