<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-bordered" style="width: 48%;">
    <thead>
    <tr>
        <td>交易量</td>
        <td>金额</td>
        <td>状态</td>
        <td>操作</td>
    </tr>
    </thead>
    {notempty name='list'}
    <tbody>
    {volist name='list' id='vo'}

    <tr>
        <td></td>
        <td></td>
        <td>{$vo.ep_amount}</td>
        <td>{$vo.ep_money}</td>
        <td>{if $vo.flag == 1}等待打款
            {elseif $vo.flag ==2/}等待确认
            {elseif $vo.flag ==3/}完成交易
            {elseif $vo.flag ==4/}交易关闭
            {elseif $vo.flag ==-4/}拒绝交易
            {elseif $vo.flag ==-1/}仲裁
            {elseif $vo.flag ==5/}申请仲裁
            {/if}
        </td>
            <td>

                {if $vo.flag == 1}等待买家付款
                {elseif $vo.flag ==2/}
                <form action="{:url('ep/comfirm_money')}" method="post">
                <input hidden name="id" value="{$vo.id}">
                <input type="submit" value="确认收款"></input>
                </form>
                <form action="{:url('ep/arb')}" method="post">
                    <input hidden name="id" value="{$vo.id}">
                    <input type="submit" value="申请仲裁">
                </form>
                {elseif $vo.flag ==3/}完成交易
                {elseif $vo.flag ==6/}交易关闭,订单被取消
                {elseif $vo.flag ==-4/}拒绝交易
                {elseif $vo.flag ==-1/}仲裁
                {elseif $vo.flag ==5/}仲裁结果可到匹配订单界面查看
                {/if}

            </td>

    </tr>

    {/volist}
    </tbody>
    {else/}
    <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
    {/notempty}
</table>
<a class="btn" href="{:url('ep/ep_shop')}"><i class="fa fa-history"></i> 返 回</a>
</body>
<script>
    function comfir(){
        document.form.action="{:url('Ep/comfirm_money')}";
        document.form.submit();
    }
    $(function () {
        //禁用“确认重新提交表单”
        window.history.replaceState(null, null, window.location.href);
    })
</script>
</html>