  <table style="margin-top: 50px;" class="table table-bordered">
      <thead>
      <tr>
          <th>当前cfi价格:{$list.cfi_price}</th>
          <th>买入</th>  
          <th>卖出</th>
      </tr>
      </thead>
        <tbody>
                <tr>
                  <td></td>
                  <td>当前市场单价：${$list.cfi_price} &nbsp;&nbsp;&nbsp;&nbsp;
                    {if !$list2 == Null}
                      当前账户正在挂买:{$list2.dianzibi} 币
                    {/if}
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      当前账户持有CFI： {$list3.CFI} 个
                  </td>
                  <td>当前市场单价：${$list.cfi_price} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {if !$list2 == Null}
                      当前账户正在挂卖：{$list2.sell}个
                    {/if}
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      当前账户持有CFI： {$list3.CFI} 个
                  </td>
                </tr>
                <tr>
                  <td>操作</td>
                  <form action="" method="post" name="form1">
                  <td><input type="number" name="cfi_amount" value="" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                             onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                    <input hidden="" name="cfi_price" value="{$list.cfi_price}">
                      <input hidden name="dianzibi" value="{$list2.dianzibi}">
                      <button onclick="buy()">买入</button>
                      <button onclick="withBuyS()">撤销挂买</button>
                  </td>
                  </form>
                  <form action="" method="post" name="form2">
                  <td><input type="number" name="cfi_amount" value="" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                             onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                    <input hidden="" name="cfi_price" value="{$list.cfi_price}">
                      <input hidden name="cfi" value="{$list2.sell}">
                      <button onclick="sell()">卖出</button>
                      <button onclick="withSellS()">撤销挂卖</button>
                  </td>
                  </form>
                </tr>
       
        </tbody>
    </table>
<table class="table table-bordered" style="width: 48%;float: left">
    <thead>
    <tr>
        <td>挂买</td>
        <td>剩余成交</td>
        <td>状态</td>
    </tr>
    </thead>
    {notempty name='list4'}
    <tbody>
    {volist name='list4' id='vo4'}
    <tr>

        <td>{$vo4.buy}</td>
        <td>{$vo4.dianzibi}</td>
        <td>{if $vo4.statuss == 1}挂买中
            {elseif $vo4.statuss ==2/}订单完成
            {elseif $vo4.statuss ==3/}订单关闭
            {/if}
        </td>

    </tr>
    {/volist}
    </tbody>
    {else/}
    <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
    {/notempty}
</table>
    <table class="table table-bordered" style="width: 48%;float: right">
        <thead>
        <tr>
            <td>挂卖</td>
            <td>剩余成交</td>
            <td>状态</td>
        </tr>
        </thead>
        {notempty name='list5'}
        <tbody>
        {volist name='list5' id='vo5'}
        <tr>

            <td>{$vo5.sell_a}</td>
            <td>{$vo5.sell}</td>
            <td>{if $vo5.statuss == 1}挂卖中
                {elseif $vo5.statuss ==2/}订单完成
                {elseif $vo5.statuss ==3/}订单关闭
                {/if}
            </td>

        </tr>
        {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
        {/notempty}
    </table>
    <script>
        function buy(){
//        document.("表单的name值").action
//        document.("表单的name值").submit;
          
            document.form1.action="{:url('Cfi/sys_buy')}";

            document.form1.submit();
        }
        function sell() {
            document.form2.action = "{:url('Cfi/sys_sell')}";
            document.form2.submit();
        }
        function cont(){
            document.form1.action="{:url('Cfi/sys_buy')}";
            document.form1.submit();
        }
        function withBuyS() {
            document.form1.action = "{:url('Cfi/withBuyS')}";
            document.form1.submit();
        }
        function withSellS() {
            document.form2.action = "{:url('Cfi/withSellS')}";
            document.form2.submit();
        }
        $(function () {
            //禁用“确认重新提交表单”
            window.history.replaceState(null, null, window.location.href);
        })
    </script>
 