
    <table  class="table table-bordered">
      <thead>
      <tr>
          <th>当前cfi价格:{$list.cfi_price}</th>
          <th>买入</th>  
          <th>卖出</th>
      </tr>
      </thead>
        <tbody>
                <tr>
                  <td></td>
                  <td>当前市场单价：${$list.cfi_price} &nbsp;&nbsp;&nbsp;&nbsp;
                    {if !$list2 == Null}
                      当前账户正在挂买:{$list2.dianzibi} 币
                    {/if}
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      当前账户持有CFI： {$list3.CFI} 个
                  </td>
                  <td>当前市场单价：${$list.cfi_price} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {if !$list2 == Null}
                      当前账户正在挂卖：{$list2.sell}个
                    {/if}
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      当前账户持有CFI： {$list3.CFI} 个
                  </td>
                </tr>
                <tr>
                  <td>操作</td>
                  <form action="" method="post" name="form1">
                  <td><input type="number" name="cfi_amount" value="" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                             onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                    <input hidden="" name="cfi_price" value="{$list.cfi_price}">
                      <input hidden name="dianzibi" value="{$list2.dianzibi}">
                      <button onclick="buy()">买入</button>
                      <button onclick="cont()">继续</button>
                      <button onclick="withdralbuy()">撤销挂买</button>
                  </td>
                  </form>
                  <form action="" method="post" name="form2">
                  <td><input type="number" name="cfi_amount" value="" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                             onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                    <input hidden="" name="cfi_price" value="{$list.cfi_price}">
                      <input hidden name="cfi" value="{$list2.sell}">
                      <button onclick="sell()">卖出</button>
                      <button onclick="withdralsell()">撤销挂卖</button>
                  </td>
                  </form>
                </tr>
       
        </tbody>
    </table>

    <script>
        function buy(){
//        document.("表单的name值").action
//        document.("表单的name值").submit;
          
            document.form1.action="{:url('Cfi/sys_buy')}";

            document.form1.submit();
        }
        function sell() {
            document.form2.action = "{:url('Cfi/sys_sell')}";
            document.form2.submit();
        }
        function cont(){
            document.form1.action="{:url('Cfi/sys_buy')}";
            document.form1.submit();
        }
        function withdralbuy() {
            document.form1.action = "{:url('Cfi/withdralbuy')}";
            document.form1.submit();
        }
        function withdralsell() {
            document.form2.action = "{:url('Cfi/withdralsell')}";
            document.form2.submit();
        }
        $(function () {
            //禁用“确认重新提交表单”
            window.history.replaceState(null, null, window.location.href);
        })
    </script>
 