<div class="box-body table-responsive">
    <table  class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
          <th>用户</th>
          <th>报单币</th>
          <th>现金币</th>
          <th>保管金</th>
          <th>电子币</th>
           <th>时间</th>

      </tr>
      </thead>
      
      {notempty name='data'}
        <tbody>
            {volist name='data' id='vo'}
                <tr>
                  <td>{$vo.user_name}</td>
                  <td>{$vo.wallet}</td>
                  <td>{$vo.bonus}</td>
                  <td>{$vo.baoguanjin}</td>
                    <td>{$vo.dianzibi_all}</td>
                  <td>{$vo.create_time}</td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>
  </div>
{list->render}
  <a href="{:url('user/index',['id' => $Request.session.user_id2])}">个人列表</a>
  <a class="btn" onclick="javascript:history.back(-1);return false;"><i class="fa fa-history"></i> 返 回</a>