<div style="margin-top: 50px;" class="box-body table-responsive">
    <table  class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
          <th>用户名</th>
          <th>奖金金额</th>
          <th>奖金类型</th>
          <th>获奖时间</th>
          <th>说明</th>
      </tr>
      </thead>
      
      {notempty name='data'}
        <tbody>
            {volist name='data' id='vo'}
                 <tr>
                    <td>{$vo.user_name}</td>
                    <td>{$vo.bonus_amount}</td>
                    <td>{$vo.bonus_type}</td>
                    <td>{$vo.bonus_time}</td>
                    <td>{$vo.bonus_des}</td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>
  </div>

  <a href="{:url('user/index',['id' => $Request.session.user_id2])}">个人列表</a>
  <a class="btn" onclick="javascript:history.back(-1);return false;"><i class="fa fa-history"></i> 返 回</a>