<style type="text/css">
    td{
        text-align: center;
    }
    .two-pathway{padding-bottom: 50px;}
    .td{
        border:1px solid #ccc;
        height: 80px;
        width: 80px;
        display: inline-block;
        padding: 5px;
        margin: 5px;
        margin-top: 30px;
    }
    .td{position: relative;}
    .td:before{position: absolute; content: ''; height: 16px; width: 1px; background-color: #333; left: 50%; top: -16px}
    .td:after{position: absolute; content: ''; height: 21px; width: 1px; background-color: #333; left: 50%; bottom: -21px}
    table tr:first-child .td:before{display: none}
    table tr:last-child .td:after{display: none}
    table tr td{position: relative;}
    table tr td:after{position: absolute; content: ''; height:1px; width: 50%; background-color: #333; left: 50%; bottom: -16px; left:25%;}
    table tr:last-child td:after{display: none}

    .no-data{
        text-align: center;
        padding: 20px;
        font-size: 18px;
    }

    .btn-yellow:visited {
        color: #fff; 
    }

    .btn-yellow{
        line-height: 30px !important;
    }

    .two-pathway a{
        color:#5db6e5;
    }

</style>
<div class="head">
   <a href="javascript:history.back();" class="back_btn"></a>
        我的团队
    </div>

    <form action="" name="form" method="post">
        用户：<input type="text" id="username" name="username" placeholder="输入用户名" value="">
                <select id="level" name="level" selected="4">
                    <option value="1" name="1">第一层</option>
                    <option value="2" name="2">第二层</option>
                    <option value="3" name="3">第三层</option>
                    <option value="4" name="4" selected>第四层</option>
                </select>
                <button onclick="find()">查询</button>
                <button onclick="ding()">顶层</button>
               <!-- <a id="left" name="left">左区注册</a>
                <a id="right" name="right">右区注册</a> -->
                <button onclick="left()" name="place" value="0">左区注册</button>
                <button onclick="right()" name="place" value="1">右区注册</button>

    </form>
     
 
  <!-- E=头部 -->
<div class="height-top"></div>

<div class="container">
    <div style="margin-bottom: 3rem;" >
      <div style="width: 100%; overflow: auto;">
            <div class="two-pathway" style="overflow-x:scroll;">
                    {$html}
                </div>
        </div>
    </div>
</div>
<div style="height: 30px"></div>
<script type="text/javascript" src="__STATIC__/index/js/jquery.min.js"></script>
<script type="text/javascript">

    function left(){
//        document.("表单的name值").action
//        document.("表单的name值").submit
        document.form.action="{:url('placeTreesize')}";
        document.form.submit();
    }
    function right() {
        document.form.action = "{:url('placeTreesize')}";
        document.form.submit();
    }
    function find(){
        document.form.action="{:url('twoPathwayfind')}";
        document.form.submit();
    }
    function ding(){
        document.form.action="{:url('twoPathway')}";
        document.form.submit();
    }


      $(document).ready(function(){
        var uaername = $('#username').val();
        var level = $('#level').val();
        
          $("#left").click(function(){
            var place = 0;
            //alert(place);
            $.post("placeTreesize",{
                username:username.value,
                level:level,
                place:place,
            },function(){
                location.reload();
            }); 
        });
        $("#right").click(function(){
            var place = 1;
            $.post("placeTreesize",{
                username:username.value,
                level:level,
                place:place,
            });      
    });
});
</script>
<a href="{:url('user/index',['id'=> $Request.session.user_id2])}">返回个人列表</a>