<form action="{:url('user/withDrawl1')}" method="post" class="form_single" style="margin: 50px;">
    {:token()}

    	{if $data.0.withdrawl_switch ==0} 
    	<label><span>提现系统维护中</span></label>

		{else } 
            <div class="form-group">
            	<label>最低提现{$data.0.withdrawl_min},最高提现{$data.0.withdrawl_max},提现倍率{$data.0.withdrawl_mult},提现费率{$data.0.withdrawl_server}</label>
              <label>输入提现额度</label>
              <input class="form-control" name="money" placeholder="请输入100的倍数" value="" type="text">
            </div>
      <div class="box-footer">
        <button  type="submit" class="btn ladda-button ajax-post" data-style="slide-up" target-form="form_single">
    <span class="ladda-label"><i class="fa fa-send"></i> 提现</span>
</button>
        {/if}
</form>
<a class="btn" href="{:url('user/index',['id'=> $Request.session.user_id2])}"><i class="fa fa-history"></i> 返 回</a>

