
<div class="box">
  <div class="box-header">
    
    
  </div>
    
  <div class="box-body table-responsive">
    <table  class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
          <th>申请人</th>
          <th>充值申请</th>
          <th>申请时间</th>
          <th>状态</th>
      </tr>
      </thead>
      
      {notempty name='list'}
        <tbody>
            {volist name='list' id='vo'}
                <tr>
                  <td>{$vo.user_name}</td>
                  <td>{$vo.request}</td>
                  <td>{$vo.request_time}</td>
                  <td>
                    {if $vo.result == 0}申请中
                      {elseif $vo.result == 1 /}已同意
                      {else /}已删除
                    {/if}
                  </td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="7" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>
  </div>

  <div class="box-footer clearfix text-center">
      {$list->render()}
  </div>

</div>