<div class="box">
  <div class="box-header">
    
    <ob_link><a class="btn" id="btn" > 电子币利息转保管金</a></ob_link>
    
  </div>
    
  <div class="box-body table-responsive">

    <table  class="table table-bordered table-hover table-striped">
      <form action="{:url('Site/siteSys')}" method="post">
          {notempty name='list'}
      <thead>
      {volist name='list' id='vo'}
      <tr>
          <th>系统开关</th>
          <th>提现开关</th>
          <th>最低提现(当前系统：{$vo.withdrawl_min})</th>
          <th>最高提现(当前系统：{$vo.withdrawl_max})</th>
          <th>提现倍率(当前系统:{$vo.withdrawl_mult})</th>
          <th>提现手续费（当前系统：{$vo.withdrawl_server}）</th>
          <th>最低充值(当前系统:{$vo.recharge_min})</th>
          <th>最高充值(当前系统：{$vo.recharge_max})</th>
          <th>充值倍率(当前系统:{$vo.recharge_mult})</th>
          <th>订单超时时间(小时)</th>
      </tr>
      </thead>

        <tbody>
                <tr>
                  {if $vo.sys_status ==1}
                  <td>
                    <label><input name="sys_status" type="radio" value="0" />关 </label>
                      <label><input name="sys_status" checked="true"type="radio" value="1" />开 </label>
                  </td>
                  {else /}
                  <td>
                    <label><input name="sys_status" type="radio"checked="true" value="0" />关 </label>
                      <label><input name="sys_status" type="radio" value="1" />开 </label>
                  </td>
                  {/if}
                  {if $vo.withdrawl_switch == 1}
                  <td><label><input name="withdrawl_switch" type="radio" value="0" />关 </label>
                      <label><input name="withdrawl_switch"checked="true" type="radio" value="1" />开 </label>
                  </td>
                  {else /}
                  <td><label><input name="withdrawl_switch" type="radio"checked="true" value="0" />关 </label>
                      <label><input name="withdrawl_switch" type="radio" value="1" />开 </label>
                  </td>
                  {/if}
                  <td><input type="number" style="width:120px;" name="withdrawl_min"  value="{$vo.withdrawl_min}"></td>
                  <td><input type="number" style="width:120px;" name="withdrawl_max"  value="{$vo.withdrawl_max}"></td>
                  <td><input type="number" style="width:120px;" name="withdrawl_mult"  value="{$vo.withdrawl_mult}"></td>
                  <td><input type="number" style="width: 120px;" name="server"   value="{$vo.withdrawl_server}">%</td>
                  <td><input type="number" style="width:120px;" name="recharge_min"  value="{$vo.recharge_min}"></td>
                  <td><input type="number" style="width:120px;" name="recharge_max"  value="{$vo.recharge_max}"></td>
                  <td><input type="number" style="width:120px;" name="recharge_mult"  value="{$vo.recharge_mult}"></td>
                  <td><input type="number" style="width:120px;" name="overtime"  value="{$vo.overtime /3600}"></td>
                    <td><input  name="id" hidden value="{$vo.id}"></td>
                  <td class="col-md-2 text-center">
                      <button type="submit" class='badge bg-green'>保存</button>
                    </form> 
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="7" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>
    <hr style="width: 100%; size: 2px">
  <table style="margin-top: 20px" class="table table-bordered">
    <form action="" method="post" name="form">
    <tr>
      <td>
        当前成交量(当前系统:{$list2.deal})
      </td>
      <td>
        当前价格(当前系统:{$list2.cfi_price})
      </td>
      <td>
        CFI拆分价格
      </td>
      <td>
        默认涨价成交量(当前系统：{$list2.default_deal})
      </td>
      
      <td>
        股票初始发行总量(当前系统:{$list2.cfi_total})
      </td>
      <td>操作</td>
    </tr>
    <tr>
      <td>
        <input type="number" name="deal" value="{$list2.deal}">
      </td>
      <td>
        <input type="number" name="cfi_price" onkeyup="value=value.replace(/[^\d\.]/g,'')" value="{$list2.cfi_price}">
      </td>
      <td>
        <input type="number" name="default_price" onkeyup="value=value.replace(/[^\d\.]/g,'')" value="{$list2.default_price}">
      </td>
      <td>
        <input type="number" name="default_deal" value="{$list2.default_deal}">
      </td>
      
      <td>
        <input type="number" name="cfi_total" value="{$list2.cfi_total}">
      </td>
      <td>
        <input type="submit" onclick="save()" value="保存">
        <input type="submit" onclick="split()" value="拆分">
      </td>
    </tr>
    </form>
  </table>
  </div>
  
  <div class="box-footer clearfix text-center">
      
  </div>

</div>

<script type="text/javascript">
 $("#btn").click(function(){
    //发起ajax请求
    $.ajax({
       url:"{:url('refresh_in')}",//注意：这里实际情况应该是根据点击的不同a标签加载不同页面
       success: function(data){
         //将请求回来的内容添加到下面的内容div
         if(data==1){
          alert('电子币利息发放成功!')
         }
       }
    });
  });
  function save() {
        document.form.action = "{:url('Site/cfi_deal')}";
        document.form.submit();
    }
    function split(){
        document.form.action="{:url('Site/splitCfi')}";
        document.form.submit();
    }

  function fresh(){  
        if(location.href.indexOf("?reload=true")<0){
            location.href+="?reload=true";  
        }  
    }  
    setTimeout("fresh()",10);
</script>