<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>table模块快速使用</title>
  <link rel="stylesheet" href="/static/module/admin/layui/dist/css/layui.css" media="all">
</head>
<body>
<input hidden id="id" value="{$id}">
<table style="margin-top: 55px;" id="demo" lay-filter="test"></table>
<a class="btn" onclick="javascript:history.back(-1);return false;"><i class="fa fa-history"></i> 返 回</a>
<script src="/static/module/admin/layui/dist/layui.js"></script>
<script>
layui.use('table', function(){
  var table = layui.table;
  
  //第一个实例
  table.render({
    elem: '#demo'
    ,height: 650
    ,url: "{:url('Cfi/dealDetail4')}" //数据接口
    ,where: {id:$('#id').val()}
     ,parseData: function(res){ //res 即为原始返回的数据
    return {
      "code": 0, //解析接口状态
      "msg": res.message, //解析提示文本
      "count": res.length, //解析数据长度
      "data": res //解析数据列表
    };
    console.log(res.total);
  }
    ,page: true //开启分页
    ,cols: [[ //表头
      {field: 'buyer_id', title: '买方', width:150}
      ,{field: 'seller_id', title: '卖方', width:150, sort: true}
      ,{field: 'deal_number', title: '成交量', width:150}
      ,{field: 'deal_price', title: '交易价格', width: 177,sort: true}
      ,{field: 'create_time', title: '时间', width: 177,sort: true}

    ]]
  });
  
});
</script>
</body>
</html>