
<div class="box">
  <div class="box-header">
    
    <ob_link><a class="btn" href="{:url('blogrollAdd')}"><i class="fa fa-plus"></i> 新 增</a></ob_link>
    
  </div>
    
  <div class="box-body table-responsive">
    <table  class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
          <th>申请人</th>
          <th>提现申请</th>
          <th>申请时间</th>
          
          <th>手续费</th>
          <th>到账</th>
          <th>处理结果</th>
          <th>操作</th>
      </tr>
      </thead>
      
      {notempty name='list'}
        <tbody>
            {volist name='list' id='vo'}
                <tr>
                  <td>{$vo.user_name}</td>
                  <td>{$vo.amount}</td>
                  <td>{$vo.time}</td>
                  <td>{$vo.server}</td>
                  <td>{$vo.daozhang}</td>
                  <td>{$vo.shuoming}</td>
                  
                  <td class="col-md-2 text-center">
                     <!--  <ob_link><a href="{:url('withdrawldelete', array('id' => $vo['id']))}" id="btn"class="btn"><i class="fa fa-edit"></i> 删除</a></ob_link>
                      &nbsp;
                      -->
                      
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="7" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>
  </div>

  <div class="box-footer clearfix text-center">
      {$list->render()}
  </div>

</div>
