
<div class="box">

    <div class="box-body table-responsive">

        <table  class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>买家Id</th>
                <th>卖家Id</th>
                <th>数量</th>
                <th>汇率</th>
                <th>金额</th>
                <th>日期</th>
            </tr>
            </thead>
            {notempty name='list'}
            <tbody>
            {volist name='list' id='vo'}
            <tr>
                <td>{$vo.buyer_id}</td>
                <td>{$vo.seller_id}</td>
                <td>${$vo.ep_amount}</td>
                <td>1:{$vo.ep_pro}</td>
                <td>￥{$vo.ep_money}</td>
                <td>{$vo.create_time}</td>
            </tr>
            {/volist}
            </tbody>
            {/notempty}
        </table>
    </div>

    <div class="box-footer clearfix text-center">

    </div>

    <a class="btn" onclick="javascript:history.back(-1);return false;"><i class="fa fa-history"></i> 返 回</a>
</div>