<div class="box">
    
  <div class="box-header">

    <div class="row"> 
        
        <div class="col-sm-7">
            <div class="box-tools search-form pull-right">
                <div class="input-group input-group-sm">
                    
                    <input type="text" name="search_data" style="width: 200px;" class="form-control pull-right" value="{:input('search_data')}" placeholder="支持昵称|用户名|邮箱|手机">

                    <div class="input-group-btn">
                      <button type="button" id="search"  url="{:url('memberlist')}" class="btn btn-info btn-flat"><i class="fa fa-search"></i></button>
                    </div>

                </div>
           </div>
        </div>
    </div>
    
  </div>
    <a  href="{:url('futou/futou')}"><button style="margin-left: 15px;margin-bottom: 15px;">复投</button></a>
    <a  href="{:url('futou/gather')}"><button style="margin-left: 15px;margin-bottom: 15px;">一键收取资金</button></a>
  <div class="box-body table-responsive">
    <table  class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
          <th hidden>头像</th>
          <th>编号</th>
          <th>用户名</th>
          <th>激活时间</th>
          <th>激活状态</th>
          <th>报单中心</th>
          <th>推荐人</th>
          <th>接点人</th>
          <th>现金币</th>
          <th>报单币</th>
          <th>CFI</th>
          <th>保管金</th>
          <th>总奖金</th>
          <th>操作</th>
      </tr>
      </thead>
      
      {notempty name='list'}
        <tbody>
            {volist name='list' id='vo'}
                <tr>
                  <td>{$vo.member_number}</td>
                  <td>{$vo.username}</td>
                  <td>{$vo.create_time}</td>
                    {if $vo.status == 1}
                    <td>已激活</td>
                    {elseif $vo.status == 0 /}
                    <td>未激活</td>
                    {elseif $vo.status == 2/}
                    <td>已锁定</td>
                    {/if}
                  <td>{$vo.center_name}</td>
                  <td>{$vo.Re_name}</td>
                  <td>{$vo.father_name}</td>
                  <td>{$vo.bonus}</td>
                  <td>{$vo.wallet}</td>
                  <td>{$vo.CFI}</td>
                  <td>{$vo.baoguanjin}</td>
                  <td>{$vo.all_bonus}</td>
                  <td class="text-center">
                      <ob_link><a href="{:url('futou/getInto', array('id' => $vo['id']))}"><span class='badge bg-green'>进入子账号</span></a></ob_link>

                      &nbsp;
                      <ob_link><a class="confirm ajax-get"  href="{:url('#', array('id' => $vo['id']))}"><span class='badge bg-red'>收取资金</span></a></ob_link>
                  </td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>
  </div>

  <div class="box-footer clearfix text-center">
      </div>
      <a href="{:url('user/index',['id' => $Request.session.user_id2])}">个人列表</a>
<a class="btn" onclick="javascript:history.back(-1);return false;"><i class="fa fa-history"></i> 返 回</a>
</div>

